@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

a,
span,
button {
  color: black;
  display: inline-block;
  background: transparent;
}

ul,
li {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Kulim Park";
}

section {
  margin-bottom: 20px;
}

/*  */

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  width: 100%;
}

.header {
  padding-top: 10px;
}
.header-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}
.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 390px;
}
.anchors {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}
.anchor {
  font-size: 20px;
  font-weight: 400;
}
.header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 10px;
  font-weight: 800;
}
.header-logo img {
  width: 50px;
  height: 50px;
}
.begin-button {
  border: 1px solid #666666;
  padding: 6px 10px;
  border-radius: 16px;
}

/*  */

.timon {
  margin-bottom: 20px;
}
.timon-inner {
  background: url(/photos/timon.png);
  background-size: cover;
  background-position: 100%;
  height: 100vh;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.text-timon {
  position: relative;
}
.text-timon * {
  color: white;
}
.text-timon h1 {
  font-size: 100px;
}
.text-timon span {
  position: absolute;
  bottom: 20px;
  right: 50px;
  font-size: 18px;
  font-weight: 300;
}
.help {
  cursor: pointer;
  background-color: white;
  transition: background-color 0.6s ease;
  color: #bf632f;

  margin: 40px;
  padding: 20px;
  aspect-ratio: 1;
  border: 1px solid white;
  border-radius: 50%;

  outline: 1px solid white;
  outline-offset: 10px;

  font-size: 22px;
  font-weight: 400;
}
.help:hover {
  background-color: rgb(223, 223, 223);
}
